/********** Generales rules **********/
body {
  background-color: #F3F3F3;
  margin: 0;
  padding: 0;
  font-family: "roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "shrikhand", sans-serif;
  font-size: 30px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
}

h3 {
  font-size: 16px;
  font-weight: normal;
}

h4 {
  font-size: 18px;
  font-weight: bold;
}

p {
  font-size: 18px;
  font-weight: lighter;
}

/********** Header **********/
.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 113px;
  position: relative;
  width: 100%;
}
.header__white-part {
  background-color: #FFFFFF;
  align-items: center;
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  height: 63px;
  width: 100%;
  z-index: 1;
}
.header__logo {
  height: 36px;
  padding: 3px 17px 0 17px;
}
.header__grey-part {
  background-color: #EAEAEA;
  height: 50px;
  width: 100%;
}
.header__restau-location {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 50px;
  width: 100%;
}
.header__location-icon {
  height: 16px;
  margin-right: 20px;
  width: 12px;
}

/********** Navbar **********/
.navbar {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.navbar__title {
  margin: 40px 0 20px 0;
  text-align: center;
  width: 70%;
}
.navbar__content {
  margin-bottom: 30px;
  text-align: center;
  width: 81%;
}
.navbar__purple-button {
  background-image: linear-gradient(#FF79DA, #9356DC);
  border: none;
  border-radius: 25px;
  font-weight: normal;
  height: 50px;
  margin-bottom: 50px;
  width: 55%;
}
.navbar__purple-button:hover {
  opacity: 0.7;
  transition: opacity 0.4s ease-in-out;
}
.navbar__purple-button--link {
  color: white;
  font-size: 16px;
  text-decoration: none;
}

/********** Section Fuctioning **********/
.functioning {
  background-color: #FFFFFF;
  height: 420px;
  padding: 30px 20px 0 20px;
}
.functioning__title {
  margin-bottom: 30px;
}
.functioning__choices {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.functioning__content {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: -13px;
}
.functioning__step {
  background-color: #F6F6F6;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0 rgba(0, 0, 0, 0.15);
  display: flex;
  height: 60px;
  margin-bottom: 20px;
  padding: 10px 0;
  width: 100%;
}
.functioning__step-number {
  background-color: #9356DC;
  border-radius: 100%;
  color: white;
  height: 24px;
  line-height: 1.5em;
  margin-right: 20px;
  text-align: center;
  width: 24px;
}
.functioning__step-icon {
  color: #7E7E7E;
  margin-right: 20px;
}
.functioning__step-icon--shop {
  color: #9356DC;
} /********** Main **********/
.navbar {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.navbar__title {
  margin: 40px 0 20px 0;
  text-align: center;
  width: 70%;
}
.navbar__content {
  margin-bottom: 30px;
  text-align: center;
  width: 81%;
}
.navbar__purple-button {
  background-image: linear-gradient(#FF79DA, #9356DC);
  border: none;
  border-radius: 25px;
  font-weight: normal;
  height: 50px;
  margin-bottom: 50px;
  width: 55%;
}
.navbar__purple-button:hover {
  opacity: 0.7;
  transition: opacity 0.4s ease-in-out;
}
.navbar__purple-button--link {
  color: white;
  font-size: 16px;
  text-decoration: none;
}

.main {
  background-color: #F6F6F6;
  height: 600px;
  padding: 30px 20px 0 20px;
}

.main__title {
  margin-bottom: 30px;
}

/*# sourceMappingURL=style.css.map */
