@charset "UTF-8";
/********** Generales rules **********/
body {
  background-color: #F3F3F3;
  margin: 0;
  padding: 0;
  font-family: "roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "shrikhand", sans-serif;
  font-size: 30px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
}

h3 {
  font-size: 20px;
  font-weight: normal;
}

h4 {
  font-size: 18px;
  font-weight: bold;
}

h5 {
  font-size: 16px;
  font-weight: 500;
}

p {
  font-size: 18px;
  font-weight: lighter;
}

/********** Pages **********/
/********** Loader **********/
.loader-container {
  align-items: center;
  animation: fadeOut 3s forwards;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.loader {
  animation: spin 1s linear infinite;
  border: 5px solid #F6F6F6;
  border-radius: 50%;
  border-top: 5px solid #9356DC;
  height: 50px;
  width: 50px;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/********** Index **********/
/********** Header **********/
.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 113px;
  position: relative;
  width: 100%;
}
.header__white-part {
  background-color: #FFFFFF;
  align-items: center;
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  height: 63px;
  position: relative;
  width: 100%;
  z-index: 1;
}
.header__back-arrow {
  align-items: center;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  color: #101010;
  font-size: 25px;
  left: 20px;
  position: absolute;
  top: 20px;
}
.header__logo {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 36px;
}
.header__grey-part {
  background-color: #EAEAEA;
  height: 50px;
  width: 100%;
}
.header__restau-location {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 50px;
  width: 100%;
}
.header__location-icon {
  height: 16px;
  margin-right: 20px;
  width: 12px;
}
@media (min-width: 1440px) {
  .header {
    height: 146px;
  }
  .header__white-part {
    height: 96px;
  }
  .header__back-arrow {
    top: 35px;
  }
}

/********** Navbar **********/
.navbar {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.navbar__title {
  margin: 40px 0 20px 0;
  text-align: center;
  width: 70%;
}
.navbar__content {
  margin-bottom: 30px;
  text-align: center;
  width: 81%;
}
.navbar__purple-button {
  align-items: center;
  background-image: linear-gradient(#FF79DA, #9356DC);
  border: none;
  border-radius: 25px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  color: white;
  display: flex;
  font-size: 16px;
  font-weight: normal;
  height: 50px;
  justify-content: center;
  margin-bottom: 50px;
  text-decoration: none;
  width: 55%;
}
.navbar__purple-button:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
  opacity: 0.7;
  transition: opacity 0.4s ease-in-out;
}
.navbar__purple-button:not(:hover) {
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
}
@media (min-width: 1440px) {
  .navbar__title {
    font-size: 40px;
  }
  .navbar__content {
    font-size: 20px;
  }
  .navbar__purple-button {
    width: 20%;
  }
}

/********** Section Fuctioning **********/
.functioning {
  background-color: #FFFFFF;
  height: 420px;
  padding: 30px 60px 0 60px;
}
.functioning__title {
  margin-bottom: 30px;
}
.functioning__choices {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
@media (min-width: 1440px) {
  .functioning__choices {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: start;
    padding-left: 10px;
    width: 100%;
  }
}
.functioning__content {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: -13px;
}
.functioning__step {
  background-color: #F6F6F6;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0 rgba(0, 0, 0, 0.15);
  display: flex;
  height: 60px;
  margin-bottom: 20px;
  padding: 10px 0;
  width: 100%;
}
@media (min-width: 1440px) {
  .functioning__step {
    width: 40%;
  }
}
.functioning__step-number {
  background-color: #9356DC;
  border-radius: 100%;
  color: white;
  height: 24px;
  line-height: 1.5em;
  margin-right: 20px;
  text-align: center;
  width: 24px;
}
.functioning__step-icon {
  color: #7E7E7E;
  margin-right: 20px;
}
.functioning__step:active .functioning__step-icon {
  color: #9356DC;
}
@media (min-width: 1440px) {
  .functioning {
    height: 200px;
    padding: 30px 150px;
  }
}

/********** Main **********/
.main {
  background-color: #F6F6F6;
  box-sizing: border-box;
  height: 1230px;
  padding: 40px 60px;
}
.main .card {
  background-color: #FFFFFF;
  border-radius: 15px;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 251px;
  margin-bottom: 18px;
  width: 100%;
}
.main .card__image-container {
  height: 70%;
  position: relative;
}
.main .card__image-container .card__image {
  border-radius: 15px 15px 0 0;
  display: block;
  height: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
}
.main .card__image-container .card__badge {
  background-color: #99E2D0;
  border-radius: 3px;
  color: #008766;
  padding: 7px 12px;
  position: absolute;
  right: 15px;
  top: 15px;
}
.main .card__content {
  box-sizing: border-box;
  display: flex;
  height: 30%;
  justify-content: space-between;
}
.main .card__content .card__text {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
  width: 80%;
}
.main .card__content .card__title {
  margin-bottom: 2px;
}
.main .card__content .card__icon {
  align-items: center;
  box-sizing: border-box;
  color: #101010;
  cursor: pointer;
  display: flex;
  font-size: 22px;
  font-weight: 200;
  justify-content: center;
  width: 20%;
}
.main .card__content .card__icon i {
  position: absolute;
}
.main .card__content .card__icon--full-heart {
  opacity: 0;
  transition-duration: 600ms;
  transition-property: all;
}
.main .card__content .card__icon--full-heart:hover {
  background: linear-gradient(#FF79DA, #9356DC); /* Apply a color gradient as the background */
  -webkit-background-clip: text; /* Same as the following line but for Webkit, enabling Safari and certain Chrome versions to work correctly */
  background-clip: text; /* Creates a clip in the shape of the text, here forming a heart */
  color: transparent; /* Makes the 'empty heart' invisible, so we can see the full heart clip */
  opacity: 1;
}
.main__restaurant-link {
  color: black;
  display: block;
  position: relative;
  text-decoration: none;
}
.main__title {
  margin-bottom: 90px;
}
@media (min-width: 1440px) {
  .main {
    padding: 30px 150px;
    box-sizing: border-box;
  }
  .main__cards {
    box-sizing: border-box;
    display: grid;
    gap: 80px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .main .card {
    box-sizing: border-box;
    height: 300px;
    margin-right: 60px;
    margin-top: -60px;
    width: 100%;
  }
}

/********** Footer **********/
.footer {
  background-color: #353535;
  box-sizing: border-box;
  color: #FFFFFF;
  padding: 20px 0 20px 60px;
}
.footer__choices {
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 60%;
}
.footer__logo {
  font-family: "shrikhand", sans-serif;
  font-size: 18px;
  margin-bottom: 15px;
}
.footer__icon-and-link {
  align-items: center;
  display: flex;
}
.footer__link {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 5px;
}
.footer__link a {
  color: #FFFFFF;
  cursor: pointer;
  text-decoration: none;
}
.footer__icon {
  font-size: 12px;
  margin-right: 10px;
  width: 12px;
}
.footer .fa-handshake {
  transform: rotate(-35deg);
}
@media (min-width: 1440px) {
  .footer {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    height: 114px;
    padding: 0;
  }
  .footer__choices {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 114px;
    justify-content: flex-start;
    width: 55%;
  }
  .footer__suggest-and-partnership {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 114px;
    justify-content: space-between;
    width: auto;
  }
  .footer__icon-and-link {
    box-sizing: border-box;
    margin-right: 10px;
  }
  .footer__legals-and-contacts {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-left: 25px;
    width: 35%;
  }
  .footer__link {
    box-sizing: border-box;
    font-size: 20px;
    margin-right: 10px;
    white-space: nowrap;
  }
  .footer__logo {
    font-size: 20px;
    padding-top: 15px;
    width: 10%;
  }
  .footer__icon {
    font-size: 18px;
    margin-right: 17px;
  }
}

/********** La palette du gout **********/
/********** Header **********/
.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 113px;
  position: relative;
  width: 100%;
}
.header__white-part {
  background-color: #FFFFFF;
  align-items: center;
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  height: 63px;
  position: relative;
  width: 100%;
  z-index: 1;
}
.header__back-arrow {
  align-items: center;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  color: #101010;
  font-size: 25px;
  left: 20px;
  position: absolute;
  top: 20px;
}
.header__logo {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 36px;
}
.header__grey-part {
  background-color: #EAEAEA;
  height: 50px;
  width: 100%;
}
.header__restau-location {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 50px;
  width: 100%;
}
.header__location-icon {
  height: 16px;
  margin-right: 20px;
  width: 12px;
}
@media (min-width: 1440px) {
  .header {
    height: 146px;
  }
  .header__white-part {
    height: 96px;
  }
  .header__back-arrow {
    top: 35px;
  }
}

.header-menu {
  height: 53px;
}

/********** Navbar **********/
/********** Main **********/
.sections-menu {
  animation: fadeIn 1s ease forwards;
  opacity: 0;
}

.section-starters {
  animation-delay: 500ms;
}

.section-main-courses {
  animation-delay: 1200ms;
}

.section-dessert {
  animation-delay: 1900ms;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.main {
  border-radius: 25px;
  height: auto;
  margin-top: -20px;
  padding-bottom: 30px;
}
.main__dish-card {
  background-color: #FFFFFF;
  border-radius: 15px;
  box-sizing: border-box;
  display: flex;
  height: 72px;
  margin-bottom: 10px;
  overflow: hidden;
  padding: 15px 15px;
  position: relative;
  width: 100%;
}
.main__dish-card--text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
}
.main__dish-card--description {
  font-size: 15px;
}
.main__dish-card .main__dish-card--description, .main__dish-card .main__dish-card--name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main__dish-card--price {
  align-items: flex-end;
  background-color: #FFFFFF;
  display: flex;
  font-size: 15px;
  height: 42px;
  justify-content: center;
  width: 15%;
}
.main__dish-card--animation {
  align-items: center;
  background-color: #99E2D0;
  border-radius: 0 15px 15px 0;
  display: flex;
  height: 72px;
  justify-content: center;
  position: absolute;
  right: -15%;
  top: 0;
  width: 15%;
}
.main__dish-card--animation .fa-check {
  background-color: #FFFFFF;
  border-radius: 50%;
  color: #99E2D0;
  padding: 3px;
}
.main__dish-card:active .main__dish-card--animation, .main__dish-card:active .main__dish-card--price {
  transform: translateX(-100%);
  transition-duration: 400ms;
}
.main__dish-card:active .main__dish-card--description, .main__dish-card:active .main__dish-card--name {
  width: 80%;
}
.main__menu-header {
  display: flex;
  margin-bottom: 20px;
}
.main__menu-title {
  align-items: center;
  display: flex;
  justify-content: center;
  font-family: "shrikhand", sans-serif;
  font-size: 28px;
  font-style: italic;
  font-weight: 400;
  justify-content: flex-start;
  width: 80%;
}
@media (min-width: 1440px) {
  .main__menu-header {
    padding: 0 25%;
    width: 50%;
  }
}
.main__menu-icon {
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 30px;
  width: 20%;
  cursor: pointer;
}
.main__menu-icon i {
  position: absolute;
}
.main__menu-icon--full-heart {
  opacity: 0;
  transition-duration: 600ms;
  transition-property: all;
}
.main__menu-icon--full-heart:hover {
  background: linear-gradient(#FF79DA, #9356DC); /* Apply a color gradient as the background */
  -webkit-background-clip: text; /* Same as the following line but for Webkit, enabling Safari and certain Chrome versions to work correctly */
  background-clip: text; /* Creates a clip in the shape of the text, here forming a heart */
  color: transparent; /* Makes the 'empty heart' invisible, so we can see the full heart clip */
  opacity: 1;
}
.main__dish-categorie {
  font-size: 16px;
  font-weight: lighter;
  margin: 20px 0;
  padding-bottom: 10px;
  position: relative;
}
.main__dish-categorie::after {
  background-color: #99E2D0;
  bottom: 0;
  content: "";
  height: 3px;
  left: 0;
  position: absolute;
  width: 40px;
}
.main__order-button-container {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
  width: 100%;
}
.main__order-button {
  align-items: center;
  background-image: linear-gradient(#FF79DA, #9356DC);
  border: none;
  border-radius: 25px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  color: white;
  display: flex;
  font-size: 16px;
  font-weight: normal;
  height: 50px;
  justify-content: center;
  margin-bottom: 50px;
  text-decoration: none;
  width: 55%;
  font-weight: 600;
  margin-bottom: 0px;
}
.main__order-button:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
  opacity: 0.7;
  transition: opacity 0.4s ease-in-out;
}
.main__order-button:not(:hover) {
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
}
@media (min-width: 1440px) {
  .main__order-button {
    width: 200px;
  }
}

/********** Footer **********/
.footer {
  background-color: #353535;
  box-sizing: border-box;
  color: #FFFFFF;
  padding: 20px 0 20px 60px;
}
.footer__choices {
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 60%;
}
.footer__logo {
  font-family: "shrikhand", sans-serif;
  font-size: 18px;
  margin-bottom: 15px;
}
.footer__icon-and-link {
  align-items: center;
  display: flex;
}
.footer__link {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 5px;
}
.footer__link a {
  color: #FFFFFF;
  cursor: pointer;
  text-decoration: none;
}
.footer__icon {
  font-size: 12px;
  margin-right: 10px;
  width: 12px;
}
.footer .fa-handshake {
  transform: rotate(-35deg);
}
@media (min-width: 1440px) {
  .footer {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    height: 114px;
    padding: 0;
  }
  .footer__choices {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 114px;
    justify-content: flex-start;
    width: 55%;
  }
  .footer__suggest-and-partnership {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 114px;
    justify-content: space-between;
    width: auto;
  }
  .footer__icon-and-link {
    box-sizing: border-box;
    margin-right: 10px;
  }
  .footer__legals-and-contacts {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-left: 25px;
    width: 35%;
  }
  .footer__link {
    box-sizing: border-box;
    font-size: 20px;
    margin-right: 10px;
    white-space: nowrap;
  }
  .footer__logo {
    font-size: 20px;
    padding-top: 15px;
    width: 10%;
  }
  .footer__icon {
    font-size: 18px;
    margin-right: 17px;
  }
}

@media (min-width: 1440px) {
  .main-menu {
    margin: -30px 150px;
    padding: 30px 200px;
  }
  .background-menu {
    background-color: #FFFFFF;
  }
}
.image-la-palette-du-gout {
  background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  height: 275px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 1440px) {
  .image-la-palette-du-gout {
    height: 500px;
  }
}

/********** La note enchantée **********/
/********** Header **********/
.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 113px;
  position: relative;
  width: 100%;
}
.header__white-part {
  background-color: #FFFFFF;
  align-items: center;
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  height: 63px;
  position: relative;
  width: 100%;
  z-index: 1;
}
.header__back-arrow {
  align-items: center;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  color: #101010;
  font-size: 25px;
  left: 20px;
  position: absolute;
  top: 20px;
}
.header__logo {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 36px;
}
.header__grey-part {
  background-color: #EAEAEA;
  height: 50px;
  width: 100%;
}
.header__restau-location {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 50px;
  width: 100%;
}
.header__location-icon {
  height: 16px;
  margin-right: 20px;
  width: 12px;
}
@media (min-width: 1440px) {
  .header {
    height: 146px;
  }
  .header__white-part {
    height: 96px;
  }
  .header__back-arrow {
    top: 35px;
  }
}

.header-menu {
  height: 53px;
}

/********** Navbar **********/
/********** Main **********/
.sections-menu {
  animation: fadeIn 1s ease forwards;
  opacity: 0;
}

.section-starters {
  animation-delay: 500ms;
}

.section-main-courses {
  animation-delay: 1200ms;
}

.section-dessert {
  animation-delay: 1900ms;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.main {
  border-radius: 25px;
  height: auto;
  margin-top: -20px;
  padding-bottom: 30px;
}
.main__dish-card {
  background-color: #FFFFFF;
  border-radius: 15px;
  box-sizing: border-box;
  display: flex;
  height: 72px;
  margin-bottom: 10px;
  overflow: hidden;
  padding: 15px 15px;
  position: relative;
  width: 100%;
}
.main__dish-card--text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
}
.main__dish-card--description {
  font-size: 15px;
}
.main__dish-card .main__dish-card--description, .main__dish-card .main__dish-card--name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main__dish-card--price {
  align-items: flex-end;
  background-color: #FFFFFF;
  display: flex;
  font-size: 15px;
  height: 42px;
  justify-content: center;
  width: 15%;
}
.main__dish-card--animation {
  align-items: center;
  background-color: #99E2D0;
  border-radius: 0 15px 15px 0;
  display: flex;
  height: 72px;
  justify-content: center;
  position: absolute;
  right: -15%;
  top: 0;
  width: 15%;
}
.main__dish-card--animation .fa-check {
  background-color: #FFFFFF;
  border-radius: 50%;
  color: #99E2D0;
  padding: 3px;
}
.main__dish-card:active .main__dish-card--animation, .main__dish-card:active .main__dish-card--price {
  transform: translateX(-100%);
  transition-duration: 400ms;
}
.main__dish-card:active .main__dish-card--description, .main__dish-card:active .main__dish-card--name {
  width: 80%;
}
.main__menu-header {
  display: flex;
  margin-bottom: 20px;
}
.main__menu-title {
  align-items: center;
  display: flex;
  justify-content: center;
  font-family: "shrikhand", sans-serif;
  font-size: 28px;
  font-style: italic;
  font-weight: 400;
  justify-content: flex-start;
  width: 80%;
}
@media (min-width: 1440px) {
  .main__menu-header {
    padding: 0 25%;
    width: 50%;
  }
}
.main__menu-icon {
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 30px;
  width: 20%;
  cursor: pointer;
}
.main__menu-icon i {
  position: absolute;
}
.main__menu-icon--full-heart {
  opacity: 0;
  transition-duration: 600ms;
  transition-property: all;
}
.main__menu-icon--full-heart:hover {
  background: linear-gradient(#FF79DA, #9356DC); /* Apply a color gradient as the background */
  -webkit-background-clip: text; /* Same as the following line but for Webkit, enabling Safari and certain Chrome versions to work correctly */
  background-clip: text; /* Creates a clip in the shape of the text, here forming a heart */
  color: transparent; /* Makes the 'empty heart' invisible, so we can see the full heart clip */
  opacity: 1;
}
.main__dish-categorie {
  font-size: 16px;
  font-weight: lighter;
  margin: 20px 0;
  padding-bottom: 10px;
  position: relative;
}
.main__dish-categorie::after {
  background-color: #99E2D0;
  bottom: 0;
  content: "";
  height: 3px;
  left: 0;
  position: absolute;
  width: 40px;
}
.main__order-button-container {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
  width: 100%;
}
.main__order-button {
  align-items: center;
  background-image: linear-gradient(#FF79DA, #9356DC);
  border: none;
  border-radius: 25px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  color: white;
  display: flex;
  font-size: 16px;
  font-weight: normal;
  height: 50px;
  justify-content: center;
  margin-bottom: 50px;
  text-decoration: none;
  width: 55%;
  font-weight: 600;
  margin-bottom: 0px;
}
.main__order-button:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
  opacity: 0.7;
  transition: opacity 0.4s ease-in-out;
}
.main__order-button:not(:hover) {
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
}
@media (min-width: 1440px) {
  .main__order-button {
    width: 200px;
  }
}

/********** Footer **********/
.footer {
  background-color: #353535;
  box-sizing: border-box;
  color: #FFFFFF;
  padding: 20px 0 20px 60px;
}
.footer__choices {
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 60%;
}
.footer__logo {
  font-family: "shrikhand", sans-serif;
  font-size: 18px;
  margin-bottom: 15px;
}
.footer__icon-and-link {
  align-items: center;
  display: flex;
}
.footer__link {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 5px;
}
.footer__link a {
  color: #FFFFFF;
  cursor: pointer;
  text-decoration: none;
}
.footer__icon {
  font-size: 12px;
  margin-right: 10px;
  width: 12px;
}
.footer .fa-handshake {
  transform: rotate(-35deg);
}
@media (min-width: 1440px) {
  .footer {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    height: 114px;
    padding: 0;
  }
  .footer__choices {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 114px;
    justify-content: flex-start;
    width: 55%;
  }
  .footer__suggest-and-partnership {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 114px;
    justify-content: space-between;
    width: auto;
  }
  .footer__icon-and-link {
    box-sizing: border-box;
    margin-right: 10px;
  }
  .footer__legals-and-contacts {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-left: 25px;
    width: 35%;
  }
  .footer__link {
    box-sizing: border-box;
    font-size: 20px;
    margin-right: 10px;
    white-space: nowrap;
  }
  .footer__logo {
    font-size: 20px;
    padding-top: 15px;
    width: 10%;
  }
  .footer__icon {
    font-size: 18px;
    margin-right: 17px;
  }
}

@media (min-width: 1440px) {
  .main-menu {
    margin: -30px 150px;
    padding: 30px 200px;
  }
  .background-menu {
    background-color: #FFFFFF;
  }
}
.image-la-note-enchantee {
  background-image: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
  height: 275px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 1440px) {
  .image-la-note-enchantee {
    height: 500px;
  }
}

/********** À la française **********/
/********** Header **********/
.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 113px;
  position: relative;
  width: 100%;
}
.header__white-part {
  background-color: #FFFFFF;
  align-items: center;
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  height: 63px;
  position: relative;
  width: 100%;
  z-index: 1;
}
.header__back-arrow {
  align-items: center;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  color: #101010;
  font-size: 25px;
  left: 20px;
  position: absolute;
  top: 20px;
}
.header__logo {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 36px;
}
.header__grey-part {
  background-color: #EAEAEA;
  height: 50px;
  width: 100%;
}
.header__restau-location {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 50px;
  width: 100%;
}
.header__location-icon {
  height: 16px;
  margin-right: 20px;
  width: 12px;
}
@media (min-width: 1440px) {
  .header {
    height: 146px;
  }
  .header__white-part {
    height: 96px;
  }
  .header__back-arrow {
    top: 35px;
  }
}

.header-menu {
  height: 53px;
}

/********** Navbar **********/
/********** Main **********/
.sections-menu {
  animation: fadeIn 1s ease forwards;
  opacity: 0;
}

.section-starters {
  animation-delay: 500ms;
}

.section-main-courses {
  animation-delay: 1200ms;
}

.section-dessert {
  animation-delay: 1900ms;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.main {
  border-radius: 25px;
  height: auto;
  margin-top: -20px;
  padding-bottom: 30px;
}
.main__dish-card {
  background-color: #FFFFFF;
  border-radius: 15px;
  box-sizing: border-box;
  display: flex;
  height: 72px;
  margin-bottom: 10px;
  overflow: hidden;
  padding: 15px 15px;
  position: relative;
  width: 100%;
}
.main__dish-card--text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
}
.main__dish-card--description {
  font-size: 15px;
}
.main__dish-card .main__dish-card--description, .main__dish-card .main__dish-card--name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main__dish-card--price {
  align-items: flex-end;
  background-color: #FFFFFF;
  display: flex;
  font-size: 15px;
  height: 42px;
  justify-content: center;
  width: 15%;
}
.main__dish-card--animation {
  align-items: center;
  background-color: #99E2D0;
  border-radius: 0 15px 15px 0;
  display: flex;
  height: 72px;
  justify-content: center;
  position: absolute;
  right: -15%;
  top: 0;
  width: 15%;
}
.main__dish-card--animation .fa-check {
  background-color: #FFFFFF;
  border-radius: 50%;
  color: #99E2D0;
  padding: 3px;
}
.main__dish-card:active .main__dish-card--animation, .main__dish-card:active .main__dish-card--price {
  transform: translateX(-100%);
  transition-duration: 400ms;
}
.main__dish-card:active .main__dish-card--description, .main__dish-card:active .main__dish-card--name {
  width: 80%;
}
.main__menu-header {
  display: flex;
  margin-bottom: 20px;
}
.main__menu-title {
  align-items: center;
  display: flex;
  justify-content: center;
  font-family: "shrikhand", sans-serif;
  font-size: 28px;
  font-style: italic;
  font-weight: 400;
  justify-content: flex-start;
  width: 80%;
}
@media (min-width: 1440px) {
  .main__menu-header {
    padding: 0 25%;
    width: 50%;
  }
}
.main__menu-icon {
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 30px;
  width: 20%;
  cursor: pointer;
}
.main__menu-icon i {
  position: absolute;
}
.main__menu-icon--full-heart {
  opacity: 0;
  transition-duration: 600ms;
  transition-property: all;
}
.main__menu-icon--full-heart:hover {
  background: linear-gradient(#FF79DA, #9356DC); /* Apply a color gradient as the background */
  -webkit-background-clip: text; /* Same as the following line but for Webkit, enabling Safari and certain Chrome versions to work correctly */
  background-clip: text; /* Creates a clip in the shape of the text, here forming a heart */
  color: transparent; /* Makes the 'empty heart' invisible, so we can see the full heart clip */
  opacity: 1;
}
.main__dish-categorie {
  font-size: 16px;
  font-weight: lighter;
  margin: 20px 0;
  padding-bottom: 10px;
  position: relative;
}
.main__dish-categorie::after {
  background-color: #99E2D0;
  bottom: 0;
  content: "";
  height: 3px;
  left: 0;
  position: absolute;
  width: 40px;
}
.main__order-button-container {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
  width: 100%;
}
.main__order-button {
  align-items: center;
  background-image: linear-gradient(#FF79DA, #9356DC);
  border: none;
  border-radius: 25px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  color: white;
  display: flex;
  font-size: 16px;
  font-weight: normal;
  height: 50px;
  justify-content: center;
  margin-bottom: 50px;
  text-decoration: none;
  width: 55%;
  font-weight: 600;
  margin-bottom: 0px;
}
.main__order-button:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
  opacity: 0.7;
  transition: opacity 0.4s ease-in-out;
}
.main__order-button:not(:hover) {
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
}
@media (min-width: 1440px) {
  .main__order-button {
    width: 200px;
  }
}

/********** Footer **********/
.footer {
  background-color: #353535;
  box-sizing: border-box;
  color: #FFFFFF;
  padding: 20px 0 20px 60px;
}
.footer__choices {
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 60%;
}
.footer__logo {
  font-family: "shrikhand", sans-serif;
  font-size: 18px;
  margin-bottom: 15px;
}
.footer__icon-and-link {
  align-items: center;
  display: flex;
}
.footer__link {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 5px;
}
.footer__link a {
  color: #FFFFFF;
  cursor: pointer;
  text-decoration: none;
}
.footer__icon {
  font-size: 12px;
  margin-right: 10px;
  width: 12px;
}
.footer .fa-handshake {
  transform: rotate(-35deg);
}
@media (min-width: 1440px) {
  .footer {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    height: 114px;
    padding: 0;
  }
  .footer__choices {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 114px;
    justify-content: flex-start;
    width: 55%;
  }
  .footer__suggest-and-partnership {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 114px;
    justify-content: space-between;
    width: auto;
  }
  .footer__icon-and-link {
    box-sizing: border-box;
    margin-right: 10px;
  }
  .footer__legals-and-contacts {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-left: 25px;
    width: 35%;
  }
  .footer__link {
    box-sizing: border-box;
    font-size: 20px;
    margin-right: 10px;
    white-space: nowrap;
  }
  .footer__logo {
    font-size: 20px;
    padding-top: 15px;
    width: 10%;
  }
  .footer__icon {
    font-size: 18px;
    margin-right: 17px;
  }
}

@media (min-width: 1440px) {
  .main-menu {
    margin: -30px 150px;
    padding: 30px 200px;
  }
  .background-menu {
    background-color: #FFFFFF;
  }
}
.image-a-la-francaise {
  background-image: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  height: 275px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 1440px) {
  .image-a-la-francaise {
    height: 500px;
  }
}

/********** Le délice des sens **********/
/********** Header **********/
.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 113px;
  position: relative;
  width: 100%;
}
.header__white-part {
  background-color: #FFFFFF;
  align-items: center;
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  height: 63px;
  position: relative;
  width: 100%;
  z-index: 1;
}
.header__back-arrow {
  align-items: center;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  color: #101010;
  font-size: 25px;
  left: 20px;
  position: absolute;
  top: 20px;
}
.header__logo {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 36px;
}
.header__grey-part {
  background-color: #EAEAEA;
  height: 50px;
  width: 100%;
}
.header__restau-location {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 50px;
  width: 100%;
}
.header__location-icon {
  height: 16px;
  margin-right: 20px;
  width: 12px;
}
@media (min-width: 1440px) {
  .header {
    height: 146px;
  }
  .header__white-part {
    height: 96px;
  }
  .header__back-arrow {
    top: 35px;
  }
}

.header-menu {
  height: 53px;
}

/********** Navbar **********/
/********** Main **********/
.sections-menu {
  animation: fadeIn 1s ease forwards;
  opacity: 0;
}

.section-starters {
  animation-delay: 500ms;
}

.section-main-courses {
  animation-delay: 1200ms;
}

.section-dessert {
  animation-delay: 1900ms;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.main {
  border-radius: 25px;
  height: auto;
  margin-top: -20px;
  padding-bottom: 30px;
}
.main__dish-card {
  background-color: #FFFFFF;
  border-radius: 15px;
  box-sizing: border-box;
  display: flex;
  height: 72px;
  margin-bottom: 10px;
  overflow: hidden;
  padding: 15px 15px;
  position: relative;
  width: 100%;
}
.main__dish-card--text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
}
.main__dish-card--description {
  font-size: 15px;
}
.main__dish-card .main__dish-card--description, .main__dish-card .main__dish-card--name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main__dish-card--price {
  align-items: flex-end;
  background-color: #FFFFFF;
  display: flex;
  font-size: 15px;
  height: 42px;
  justify-content: center;
  width: 15%;
}
.main__dish-card--animation {
  align-items: center;
  background-color: #99E2D0;
  border-radius: 0 15px 15px 0;
  display: flex;
  height: 72px;
  justify-content: center;
  position: absolute;
  right: -15%;
  top: 0;
  width: 15%;
}
.main__dish-card--animation .fa-check {
  background-color: #FFFFFF;
  border-radius: 50%;
  color: #99E2D0;
  padding: 3px;
}
.main__dish-card:active .main__dish-card--animation, .main__dish-card:active .main__dish-card--price {
  transform: translateX(-100%);
  transition-duration: 400ms;
}
.main__dish-card:active .main__dish-card--description, .main__dish-card:active .main__dish-card--name {
  width: 80%;
}
.main__menu-header {
  display: flex;
  margin-bottom: 20px;
}
.main__menu-title {
  align-items: center;
  display: flex;
  justify-content: center;
  font-family: "shrikhand", sans-serif;
  font-size: 28px;
  font-style: italic;
  font-weight: 400;
  justify-content: flex-start;
  width: 80%;
}
@media (min-width: 1440px) {
  .main__menu-header {
    padding: 0 25%;
    width: 50%;
  }
}
.main__menu-icon {
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 30px;
  width: 20%;
  cursor: pointer;
}
.main__menu-icon i {
  position: absolute;
}
.main__menu-icon--full-heart {
  opacity: 0;
  transition-duration: 600ms;
  transition-property: all;
}
.main__menu-icon--full-heart:hover {
  background: linear-gradient(#FF79DA, #9356DC); /* Apply a color gradient as the background */
  -webkit-background-clip: text; /* Same as the following line but for Webkit, enabling Safari and certain Chrome versions to work correctly */
  background-clip: text; /* Creates a clip in the shape of the text, here forming a heart */
  color: transparent; /* Makes the 'empty heart' invisible, so we can see the full heart clip */
  opacity: 1;
}
.main__dish-categorie {
  font-size: 16px;
  font-weight: lighter;
  margin: 20px 0;
  padding-bottom: 10px;
  position: relative;
}
.main__dish-categorie::after {
  background-color: #99E2D0;
  bottom: 0;
  content: "";
  height: 3px;
  left: 0;
  position: absolute;
  width: 40px;
}
.main__order-button-container {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
  width: 100%;
}
.main__order-button {
  align-items: center;
  background-image: linear-gradient(#FF79DA, #9356DC);
  border: none;
  border-radius: 25px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  color: white;
  display: flex;
  font-size: 16px;
  font-weight: normal;
  height: 50px;
  justify-content: center;
  margin-bottom: 50px;
  text-decoration: none;
  width: 55%;
  font-weight: 600;
  margin-bottom: 0px;
}
.main__order-button:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
  opacity: 0.7;
  transition: opacity 0.4s ease-in-out;
}
.main__order-button:not(:hover) {
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
}
@media (min-width: 1440px) {
  .main__order-button {
    width: 200px;
  }
}

/********** Footer **********/
.footer {
  background-color: #353535;
  box-sizing: border-box;
  color: #FFFFFF;
  padding: 20px 0 20px 60px;
}
.footer__choices {
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 60%;
}
.footer__logo {
  font-family: "shrikhand", sans-serif;
  font-size: 18px;
  margin-bottom: 15px;
}
.footer__icon-and-link {
  align-items: center;
  display: flex;
}
.footer__link {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 5px;
}
.footer__link a {
  color: #FFFFFF;
  cursor: pointer;
  text-decoration: none;
}
.footer__icon {
  font-size: 12px;
  margin-right: 10px;
  width: 12px;
}
.footer .fa-handshake {
  transform: rotate(-35deg);
}
@media (min-width: 1440px) {
  .footer {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    height: 114px;
    padding: 0;
  }
  .footer__choices {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 114px;
    justify-content: flex-start;
    width: 55%;
  }
  .footer__suggest-and-partnership {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 114px;
    justify-content: space-between;
    width: auto;
  }
  .footer__icon-and-link {
    box-sizing: border-box;
    margin-right: 10px;
  }
  .footer__legals-and-contacts {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-left: 25px;
    width: 35%;
  }
  .footer__link {
    box-sizing: border-box;
    font-size: 20px;
    margin-right: 10px;
    white-space: nowrap;
  }
  .footer__logo {
    font-size: 20px;
    padding-top: 15px;
    width: 10%;
  }
  .footer__icon {
    font-size: 18px;
    margin-right: 17px;
  }
}

@media (min-width: 1440px) {
  .main-menu {
    margin: -30px 150px;
    padding: 30px 200px;
  }
  .background-menu {
    background-color: #FFFFFF;
  }
}
.image-le-delice-des-sens {
  background-image: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
  height: 275px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 1440px) {
  .image-le-delice-des-sens {
    height: 500px;
  }
}

/*# sourceMappingURL=style.css.map */
