/********** Header **********/
    @import './sections/header.scss';

    .header-menu {
      height: 53px
    }

/********** Navbar **********/
    .navbar-menu-la-palette {
      background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 275px;
    }

/********** Main **********/
    @import './components/dish-card.scss';


    .main {
        @include dish-card;
        border-radius: 25px;
        height: auto;
        margin-top: -20px;
        padding-bottom: 30px;


        &__menu-header {
            display: flex;
            margin-bottom: 20px;
       }

        &__menu-title {
            @include flex-center-row;
            font-family: 'shrikhand', sans-serif;
            font-size: 28px;
            font-style: italic;
            font-weight: 400;
            justify-content: flex-start;
            width: 80%;
        }

        &__menu-icon {
            @include gradient-heart;
            @include flex-center-row;
            font-size: 30px;
            width: 20%;
            cursor: pointer;
        }

        &__dish-categorie {
            font-size: 16px;
            font-weight: lighter;
            margin: 20px 0;
            position: relative;
            padding-bottom: 10px; // padding space to separate title and line.

          &::after { //It's a pseudo-element that allows to add content or, here, decoration after the content of an HTML element, without needing to modify the HTML
              background-color: $light-green;
              bottom: 0;
              content: ""; // Indicates that no text content is generated for this element.
              height: 3px;
              left: 0;
              position: absolute;
              width: 40px;
          }
        }

      &__order-button-container {
          align-items: center;
          display: flex;
          height: 100px;
          justify-content: center;
          width: 100%;
      }

      &__order-button {
          @include gradient-color-button;
          margin-bottom: 0px;
          font-weight: 600;
      }
    }

/********** Footer **********/
    @import './sections/footer.scss';
