@import './components/colors.scss';
@import './components/dimensions.scss';

/********** Generales rules **********/
    body {
        @include custom-background($bg-grey);
        @include reset-margin-padding;
        font-family: 'roboto', sans-serif ;
    }


    h1, h2, h3, h4, h5, h6, p {
        @include reset-margin-padding;
    }

    h1 {
        font-family: 'shrikhand', sans-serif ;
        font-size: 30px;
    }

    h2 {
        font-size: 24px;
        font-weight: bold;
    }

    h3 {
        font-size: 20px;
        font-weight: normal;
    }

    h4 {
        font-size: 18px;
        font-weight: bold;
    }

    h5 {
        font-size: 16px;
        font-weight: 500;
    }

    p {
        font-size: 18px;
        font-weight: lighter;
    }

/********** Pages **********/

    /********** Loader **********/
        @import "./components/loader.scss";

    /********** Index **********/
        /********** Header **********/
            @import './base-components/header.scss';

        /********** Navbar **********/
            @import './base-components/nav.scss';

        /********** Section Fuctioning **********/
            @import './base-components/functioning.scss';

        /********** Main **********/
            @import './base-components/main.scss';

        /********** Footer **********/
            @import './base-components/footer.scss';


    /********** La palette du gout **********/
        @import './restaurants-pages/la-palette-du-gout.scss';

    /********** La note enchantée **********/
        @import './restaurants-pages/la-note-enchantee.scss';

    /********** À la française **********/
        @import './restaurants-pages/a-la-francaise.scss';

    /********** Le délice des sens **********/
        @import './restaurants-pages/le-delice-des-sens.scss';
