@import './menu.scss';

.image-a-la-francaise {
    background-image: url(../../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
    height: 275px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-width: 1440px) {
        height: 500px;
    }
}
