.image-la-palette-du-gout {
    background-image: url('../../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg');
    height: 275px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-width: 1440px) {
        height: 500px;
    }
}
