@import './menu.scss';

.image-le-delice-des-sens {
    background-image: url(../../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
    height: 275px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-width: 1440px) {
        height: 500px;
    }
}
