@import '../components/buttons.scss';
@import '../components/colors.scss';
@import '../components/dimensions.scss';


.functioning {
    @include custom-background($white);
    height: 420px;
    padding: 30px 40px 0 40px;
    z-index: 2;

    &__title {
        margin-bottom: 30px;
    }

    &__choices {
        @include flex-center-column;
        width: 100%;

        @media (min-width: 1440px) {
            display: flex;
            flex-direction: row;
            gap: 30px;
            justify-content: start;
            padding-left: 10px;
            width: 100%;
        }
    }

    &__content {
        @include flex-center-row;
        margin-left: -13px;
    }

    &__step {
        background-color: $option-grey;
        border-radius: 20px;
        box-shadow: 0px 4px 15px 0 rgba(0, 0, 0, 0.15);
        display: flex;
        height: 60px;
        margin-bottom: 20px;
        padding: 10px 0;
        width: 100%;

        @media (min-width: 1440px) {
          width: 40%;
        }

        &-number {
            background-color: $purple;
            border-radius: 100%;
            color: white;
            height: 24px;
            line-height: 1.5em;
            margin-right: 20px;
            text-align: center;
            width: 24px;
        }

        &-icon {
            color: #7E7E7E;
            margin-right: 15px;
            font-size: 20px;
        }

         &:hover {
            .functioning__step-icon {
                color: $purple;
            }
        }
    }

    @media (min-width: 1440px) {
        height: 200px;
        padding: 30px 150px;
    }
}
