@import '../components/colors.scss';
@import '../components/dimensions.scss';

.header {
    @include flex-center-column;
    height: 113px;
    position: relative;
    width: 100%;

    &__white-part {
        @include custom-background($white);
        @include flex-center-row;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
        height: 63px;
        width: 100%;
        z-index: 1;
        position: relative;
    }

    &__back-arrow {
        @include flex-center-row;
        box-sizing: border-box;
        color: $black;
        font-size: 25px;
        left: 20px;
        position: absolute;
        top: 20px;
    }

    &__logo {
        @include flex-center-row;
        height: 36px;
    }

    &__grey-part {
        @include custom-background($grey);
        @include h50Xl100;
    }

    &__restau-location {
        @include flex-center-row;
        @include h50Xl100;
    }

    &__location-icon {
        height: 16px;
        margin-right: 20px;
        width: 12px;
    }
}
