@mixin gradient-color-button {
    background-image: $pink-purple-gradient;
    border: none;
    border-radius: 25px;
    font-weight: normal;
    height: 50px;
    margin-bottom: 50px;
    width: 55%;
}
