@mixin dish-card {

    &__dish-card {
        background-color: $white;
        border-radius: 15px;
        box-sizing: border-box;
        display: flex;
        height: 72px;
        margin-bottom: 10px;
        overflow: hidden;
        padding: 15px 15px;
        position: relative;
        width: 100%;

        &--text{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 80%;
        }

        &--description {
            font-size: 15px;
        }

        .main__dish-card--description, .main__dish-card--name{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        &--price {
            align-items: flex-end;
            background-color: $white;
            display: flex;
            font-size: 15px;
            height: 42px;
            justify-content: center;
            width: 15%;
        }

        &--animation {
            align-items: center;
            background-color: $light-green;
            border-radius: 0 15px 15px 0;
            display: flex;
            height: 72px;
            justify-content: center;
            position:absolute;
            right: -15%;
            top: 0;
            width: 15%;

            .fa-check {
                background-color: $white;
                border-radius: 50%;
                color: $light-green;
                padding: 3px;
            }
        }

        &:active {
            .main__dish-card--animation, .main__dish-card--price {
                transform: translateX(-100%);
                transition-duration: 400ms;
            }

            .main__dish-card--description, .main__dish-card--name{
                width: 80%;
            }
        }
    }
}
