@import '../components/buttons.scss';
@import '../components/colors.scss';

.navbar {
    @include flex-center-column;

    &__title {
        margin: 40px 0 20px 0;
        text-align: center;
        width: 70%;
    }

    &__content {
        margin-bottom: 30px;
        text-align: center;
        width: 81%;
    }

    &__purple-button {
        @include gradient-color-button;
    }
}
